<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asm_mob204">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityDanhSachNguoiDung"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".MainActivityDanhSachKhachHang"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityThemKhachHang"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityQuanLyNguoiDung"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityThongTinTaiKhoan"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityCaiDat"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivitySachBanChay"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityQuenMatKhau"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityThongKeDoanhThu"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityThongKe"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityDanhSachTheLoai"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityThemTheLoai"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityQuanLyTheLoai"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityDanhSachHoaDon"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityTaoHoaDon"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityQuanLyHoaDon"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityDanhSachSach"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityNhapSach"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityQuanLySach"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityHome"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityDangKy"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivityDangNhap"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>